:root {
    --color-dark: #262626;
    --color-light: #fff;
    --color-yellow: #fed700;
    --color-red: #df3737;
    --color-dark-light:#6c757d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
a,a:hover,a:visited ,a:active {
    text-decoration: none  ;
}
body{
    /* min-height: 5000px; */
}
/* refrebce web : https://electro.madrasthemes.com/home-v11/  */
ul {
    margin: unset;
}
 
.row{
    margin-left: unset;
    margin-right: unset;
}
li {
    list-style-type: none;
}

/* start menu  */
.menu {
    display: flex;
    flex-flow: row;
    padding: 5px 0px;
    align-items: center;
    transition: ease-in 0.3s;
}

.menu-item {}

.nav-link {
    padding: unset;
    padding: 0px 10px;
    color:var(--color-light);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
 
.nav-link:hover {
    
    color:var(--color-yellow);

}
 
.nav-link .icon {
    margin: 0 2px;
    font-size: 1.2em;
}

.nav-link .text {}

/* end menu  */
/* start top bar section  */
.top-bar {
    padding: 5px 0 5px 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    font-size: 0.9em;
    z-index: 1;
}

.top-bar-holder {
    padding: unset;
}

#left-top-bar {}

#left-top-bar .text {
    display: flex;
    align-items: center;
    padding: 5px 0px;

}

#left-top-bar .text span {
    display: flex;


}

#right-top-bar {}

.top-menu-right {
    justify-content: right;
}

.top-menu-item-right {
    border-left: solid 1px var(--color-dark);

}

.top-menu-item-right .nav-link {
    color: var(--color-dark);
}
.top-menu-item-right .nav-link .icon {
        font-size: unset;
}

/* end  top bar section  */
/* start main menu section  */
.main-menu {
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    z-index: 1;
    color: var(--color-light);



}

.main-menu .header-holder {
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: var(--color-dark);
    border-radius: 50px;
    background-clip: content-box;
}

.logo-holder {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.logo-holder svg {
    margin-left: 15px;
}

.logo-holder path {
    fill: var(--color-light)
}

.menu-collapse {
    font-size: 1.8em;
}

.menu-collapse:hover {
    cursor: pointer;
}

.search-bar-form {
    display: flex;
    flex-flow: row;
}

#search-filed,
#category-filed,
#search-btn {
    border-radius: unset;
    background: transparent;
    color: var(--light);
}
#search-filed::placeholder
 {
    color: var(--light);
}
 
#search-filed {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: unset;
}

#category-filed {
    border-right: unset;
    border-left: unset;
}
#category-filed option {
    background-color: var(--color-dark);
    color: var(--color-light);
}

#search-btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 38px;
    background-color: var(--color-yellow);
}
#search-btn{
    border-left: unset;
    border-color: var(--color-light);  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 38px;
    background-color: var(--color-yellow);
}
#search-btn i{
    color:var(--color-dark)
 
}

/* end main menu section  */

/* start slider section  */
.slider-holder {
    position: relative;
    z-index: 0;

}
.slider{
    background-image: url(https://electro.madrasthemes.com/wp-content/uploads/2021/08/home-v11-slider-bg.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-full-width{
    width: 99vw;
    position: relative;
    margin-left: calc(-50vw + 50%);
    position: static;
    transform: translateX(8px);
}


.carousel-holder{
    padding-top: 120px;
    padding-bottom: 60px;
}
#main-carousel{
    height: 550px;
}
#main-carousel .carousel-inner{
    height: 100%;
    display: flex;
    align-items: center;
}
#main-carousel .carousel-item-next,
#main-carousel .carousel-item-prev{
    top: unset;
}
.carousel-indicators .active {
    background-color: var(--color-yellow);
}
 
.carousel-item-content>.row{
    width: 100%;
    box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    -webkit-box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    -moz-box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    margin:  0px 15px;
    transition: ease-in 0.3s;
}
.carousel-item-content{
    align-items: center;
    justify-content: space-between;
    display: flex   ;
    height: 100%;
}
.carousel-item-content .card,
.carousel-item-content .list-group-item{
    background-color: unset;
    background-clip: unset;
    border:unset;
    border-radius: unset;
}
.card-link{
    color: var(--color-dark);
    background-color: var(--color-yellow);
    padding: 10px 20px;
    border-radius: 10px;
}
/* end slider section  */
/* start categories section  */
.categories-holder{
    min-height: 500px;
    position: relative;
    top: -60px;
    z-index: 1;
    box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    -webkit-box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    -moz-box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    border-radius: 20px;
    padding: 15px 0px;
    background-color: var(--color-light);
}
.brands-holder {
    padding: 20px 0;
}
.brands-holder .brands{
    display: flex;
    align-items: center;
}
.brands-holder .brands-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.brands .brand .brand-link{
    padding: 5px 10px; 
    font-weight: bold;
    color:  var(--color-dark-light);  
}
.brands .more-brands-icon{
    margin-left: auto;
    font-weight: lighter;
    
}
.brands .more-brands-icon a{
    color:  var(--color-dark-light);
}
.more-categories-link{
    position: absolute;
    top: -27px;
    right: 0;
    margin-right: 20px;
    padding: 20px;
    background-color: var(--color-light);
    border-radius: 50%;
    box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    -webkit-box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    -moz-box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);

}
.categories-title{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}
/* end categories section  */
/* products section  */
.products-holder{
    margin-bottom: 20px;
}
.products-holder .item{
    margin: 10px;
}
.products-holder .products-header{
    
}
.products-header .title{
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-yellow);
}   
.products-header .show-more{
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 20px;
    margin-left: auto;
    flex-grow: 1;
    border-bottom: 2px solid var(--color-dark-light);
    text-align: right;
 }   
.show-more a{
    color: var(--color-dark-light);
 }   
/* end products section  */
/* footert section  */
.footer-holder {
  background-color: var(--color-yellow);
  padding-top: 30px;
  border-radius: 25px;
}
.footer-holder .bottom-footer{
  background-color: var(--color-dark);
  padding: 20px auto;
  height: 60px;
  color: var(--color-light);
}      

.bottom-footer .icons{
    display: flex;
    flex-flow: row;
}
.bottom-footer .icons a{
    margin:10px;
    color:var(--color-light);
    transition: ease 0.3s;
    font-size: 1.2em;
}
.bottom-footer .icons a:hover{
     
    color:var(--color-yellow)
}
.footer-inner-holder{
    margin-top: 30px;
    padding-top: 30px;
   background-color: var(--color-light);
    box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    -webkit-box-shadow: 0px -2px 7px 0px rgba(38,38,38,0.44);
    -moz-box-shadow: 1px 1px 16px 1px rgba(38,38,38,0.44);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer-holder .contact-info{
    margin: 20px auto;
    font-size: 1.2em;
    font-weight: bold;
}
.footer-holder .contact-info i{
    color: var(--color-yellow);
    font-size: 1.4em; 
    margin-right: 10px;
}
.footer-holder .nav-link{
    color: var(--color-dark);
    padding-top: 10px ;
    padding-bottom: 10px ;
    
}
/* end footer section  */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1480px) {
    .container {
        max-width: 1430px;
    }
}